.globalContainer {
    padding: 60px 20px;
    color: #f5f5f5; /* Color de texto claro */
}

.container {
    max-width: 800px; /* Limitar el ancho para mejorar la legibilidad */
    margin: 0 auto; /* Centrar el contenido */
    text-align: left; /* Alinear el texto a la izquierda */
}

h1 {
    font-size: 2.5em; /* Tamaño grande para el título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

h2 {
    font-size: 2em; /* Tamaño para subtítulos */
    margin-top: 40px; /* Espacio por encima del subtítulo */
    margin-bottom: 20px; /* Espacio debajo del subtítulo */
    border-bottom: 2px solid #ecf0f1; /* Línea debajo del subtítulo */
    padding-bottom: 10px; /* Espacio adicional en la parte inferior */
}

h3 {
    font-size: 1.2em; /* Tamaño de texto para párrafos */
    margin: 15px 0; /* Espacio arriba y abajo */
}

.text {
    color: #ecf0f1; /* Color de texto */
    line-height: 1.6; /* Mejora la legibilidad */
}

b {
    font-weight: bold; /* Resaltar texto en negrita */
}
