@font-face {
  font-family: "gothamMedium";
  src: url("/src/assets/fonts/Gotham-Rounded-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: -webkit-linear-gradient(
    324deg,
    #d4e49d,
    #676d3e,
    #61684b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    324deg,
    #d4e49d,
    #676d3e,
    #61684b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "gothamMedium", sans-serif;
}
h1 {
  color: #f5f5f5;
}
