@font-face {
  font-family: "gothamMedium";
  src: url("/src/assets/fonts/Gotham-Rounded-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #043903;
  font-family: "gothamMedium", sans-serif;
}
h1{
  color: #F5F5F5;
}