.container {
  padding: 70px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global {
  background-color: #b19563;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageContainer {
  flex: 1 1 50%;
  min-width: 300px;
  display: flex;
  margin-right: 90px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
}

.flex2 {
  margin-left: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImageContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  position: relative;
}

.mainImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.thumbnail:hover {
  border: 2px solid #ccc;
}

.activeThumbnail {
  border: 2px solid #000000;
}

.description {
  width: 100%;
  font-size: x-large;
  text-align: center;
}

.title {
  text-align: center;
}

.caracters {
  font-size: large;
  text-align: left;
  width: 45%;
}

.table {
  width: 95%;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.subtitle {
  margin-top: 20px;
  font-size: 1.8em;
}

.ingredients {
  font-size: large;
}

.tableContainer {
  display: flex;
  justify-content: space-evenly;
}

.addToCartContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantityLabel {
  margin-right: 10px;
  font-size: 1.2rem;
}

.quantityInput {
  width: 50px;
  padding: 5px;
  margin-right: 20px;
  font-size: 1rem;
}

.addToCartButton {
  background-color: #b19563;
  border: 2px solid #fff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.addToCartButton:hover {
  background-color: #d0b59d;
  transform: scale(1.05);
}
.comunication {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border: #001700 solid 1px;
  border-radius: 20px;
  background-color: #f5f5f5;
  transition: 1s;
  color: #001700;
  margin-top: 10px;
}

.comunication:hover {
  background-color: #25d366;
  cursor: pointer;
}
.favoriteButton {
  position: absolute;
  top: 10px; /* Ajusta la posición */
  right: 10px; /* Ajusta la posición */
  background: none;
  border: none;
  color: black; /* O el color que prefieras */
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer;
}

.activeFavorite {
  color: gold; /* Cambia el color cuando sea favorito */
}

@media (max-width: 1100px) {
  .containContent {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
    margin-bottom: 30px; /* Espacio entre imagen y contenido */
  }

  .flex2 {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }

  .thumbnail {
    width: 50px;
    height: 50px;
  }

  .mainImage {
    width: 100%;
  }

  .title {
    font-size: medium;
  }

  .description {
    font-size: large;
  }

  .caracters {
    width: 100%;
    text-align: center; /* Centra el texto */
  }

  .tableContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    font-size: large;
  }
}

@media (max-width: 800px) {
  .flex2 {
    margin: 0;
  }

  .quantityInput {
    width: 40px; /* Ajustar el tamaño del input de cantidad */
  }

  .addToCartButton {
    width: 100%; /* Botón ocupa todo el ancho disponible */
  }
}
