.container {
  padding: 70px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containContent {
  width: 90%;
  padding: 30px;
  background-color: #b19563;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  border: 1px solid white;
}
.imageContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
.flex2 {
  width: 80%;
  margin-left: 30px;

}
.mainImageContainer {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.mainImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 100px;
  height: 500px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.thumbnail:hover {
  border: 2px solid #ccc;
}

.activeThumbnail {
  border: 2px solid #000000;
}
.description {
  width: 90%;
}
.title{
  text-align: center;
}
.caracters{
  font-size: medium;
  text-align: center;

}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.subtitle {
  margin-top: 20px;
  font-size: 1.2em;
}
@media (max-width:1100px){
  .containContent{
    flex-direction: column;
  }
  .thumbnail{
    width: 30px;
    height: 30px;
  }
  .mainImage{
    width: 200px;
  }
  .title{
    font-size:medium;
  }
  .description{
    height: 500px;
    overflow: scroll;
  }
}