.container {
  width: 350px;
  height: auto; /* Hacer la altura automática */
  min-height: 450px;
  background-color: #b19563;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
}

.imgContainer {
  height: 350px; /* Altura fija para mantener proporciones */
  width: 100%; /* Asegurar que ocupa todo el ancho */
}

.img {
  width: 100%; /* Ocupa el ancho disponible */
  max-width: 500px; /* Limitar tamaño máximo */
  border-radius: 10px;
  position: relative;
}

.breadcrumb,
.breadcrumb2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.breadcrumb {
  bottom: 20px;
  right: 30px;
}

.breadcrumb2 {
  bottom: 55px;
  right: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  height: 40px;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border: #001700 solid 1px;
  border-radius: 20px;
  background-color: #b19563;
  transition: 1s;
  color: #001700;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.addToCart:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.containerButton {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 300px;
}

/* Media Queries para Responsividad */
@media (max-width: 720px) {
  .container {
    width: 90%; /* Asegurar que ocupe casi toda la pantalla en móviles */
  }
  
  .imgContainer {
    height: auto; /* Ajustar la altura para que sea dinámica en móviles */
    width: 100%; /* Asegurar que ocupa el ancho completo */
  }

  .img {
    width: 100%; /* Ajustar la imagen al ancho disponible */
    height: auto; /* Mantener proporciones de la imagen */
    max-width: none; /* Eliminar el límite de tamaño máximo en pantallas pequeñas */
  }

  .title {
    font-size: 1rem; /* Ajustar el tamaño del texto para móviles */
  }

  .containerButton {
    justify-content: flex-start; /* Centrar los botones en móviles */
    width: 100%; /* Asegurar que ocupa todo el ancho en móviles */
    margin: 0 0 20px -60px;
  }

  .addToCart {
    width: 50px; /* Ajustar tamaño del botón para móviles */
    height: 50px; /* Ajustar tamaño del botón para móviles */
    font-size: x-large; /* Ajustar el tamaño del icono */
  }
}
