.container {
  width: 350px;
  height: auto; /* Hacer la altura automática */
  min-height: 450px;
  background-color: #b19563;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
}
.imgContainer{
  height: 300px;
}
.img {
  width: 100%; /* Ocupa el ancho disponible */
  max-width: 300px; /* Limitar tamaño máximo */
  border-radius: 10px;
  position: relative;
}

.breadcrumb,
.breadcrumb2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.breadcrumb {
  bottom:20px;
  right:30px;
}

.breadcrumb2 {
  bottom: 55px;
  right: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  height: 40px;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  border: #001700 solid 1px;
  border-radius: 20px;
  background-color: #b19563;
  transition: 1s;
  color: #001700;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.addToCart:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.containerButton{
  
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 300px;
}
@media (max-width: 720px) {
  .container {
    width: 90%; /* Asegurar que ocupe casi toda la pantalla en móviles */
  }
  .imgContainer{
    height: 65%;
    width: 100%;
  }
  .img {
    width: 100%; /* Ajustar la imagen al ancho disponible */
    max-width: none; /* Eliminar el límite de tamaño máximo en pantallas pequeñas */
  }
  .title {
    font-size: 1rem; /* Ajustar el tamaño del texto para móviles */
  }
  .comunication {
    width: 150px; /* Asegurarse de que el botón ocupe el ancho completo en móviles */
  }
}
