.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 65px 20px;
}

.carousel {
  width: 110%;
  height: auto;
}

.products {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #b19563;
  border-radius: 25px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 10px;
}

.more {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  border-radius: 50%;
  font-size: large;
  cursor: pointer;
  transition: 2s;
  text-align: end;
  margin: 10px 0;
}

.links {
  text-decoration: none;
  color: #f5f5f5;
  align-items: center;
}

.carouselImg {
  height: 450px;
}

.about {
  background-image: url("../../../public/imagenes/cute-dog-park.jpg");
  background-position: center;
  background-size: cover; /* Cambia de contain a cover para asegurar que la imagen cubra el contenedor */
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 10px 0;
  border-radius: 25px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexAbout {
  display: flex;
  justify-content: end; /* Cambia de end a center para alinear la imagen y el texto centrados */
  align-items: center;
  width: 100%;
  gap: 20px; /* Añade espacio entre la imagen y el texto */
}

.imageAbout {
  width: 40%; /* Aumenta el ancho para que la imagen sea más grande */
  height: auto; /* Ajusta la altura automáticamente */
  border-radius: 10px;
  margin: 20px 20px 20px 0 ;
}

.textCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text {
  color: #f5f5f5;
  width: 70%;
  font-size: large;
}
.contact {
  background-color: #b19563;
  width: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactLink {
  color: #f5f5f5;
}
.faqContainer {
  width: 90%;
}
.cardLink{
  text-decoration: none;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .more {
    width: auto;
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .more {
    font-size: medium;
    width: 100%;
    margin: 10px 0;
  }
  .carouselImg {
    margin-top: 30px;
    height: auto;
  }
  .flexAbout {
    flex-direction: column;
  }
  .textCont {
    text-align: center;
    width: 100%;
    padding: 0 15px;
  }
  .imageAbout {
    width: 80%;
  }
  .text {
    font-size: medium;
  }
  .contact {
    display: flex;
    text-align: center;
  }
  .contact h1 {
    font-size: large;
  }
  .contact h2 {
    font-size: medium;
  }
}
