.container {
  width: 100%;
  background-color: #001700;
  height: 20em;
}
.containerInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  height: 90%;
}
.logo {
  width: 300px;
}
.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
.containerMap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  color: #f5f5f5;
  width: 25%;
  text-align: center;
  font-size: large;
}
.text{
    color: #f5f5f5;
    text-align: center;
    font-size: large;
    text-decoration: none;
}