.container {
  width: 100%;
  background-color: #001700;
  height: 20em;
}
.containerInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 90%;
}
.logo {
  width: 250px;
}
.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
.netTitle{
  text-align: center;
  font-size: x-large;
}
.network {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.LinkContainer1 {
  display: flex;
  align-items: center;
  height: 200px;
  margin-bottom: 70px;
  gap: 0 30px;
}

.containerMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.location {
  color: #f5f5f5;
  width: 50%;
  margin-right: 30px;
  text-align: center;
  font-size: large;
}
.text {
  color: #f5f5f5;
  text-align: center;
  font-size: large;
  text-decoration: none;
}
.net {
  color: #f5f5f5;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.copyright {
  color: #f5f5f5;
  font-size: large;
  margin: 0 0 20px 30px;
}
@media (max-width: 1000px) {
  .logo {
    width: 150px;
    margin-left: 30px;
  }
  .container {
    height: auto;
  }
  .containerInfo {
    flex-direction: column;
  }
  .containerMap {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .location {
    width: 200%;
    text-align: center;
  }
  .map {
    width: 200%;
    margin-bottom: 20px;
  }
  .LinkContainer {
    width: 70%;
    align-items: start;
  }
  .LinkContainer1 {
    width: 85%;
    gap: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .network{
    margin: 0 0 15px 0;
    width: 100%;
  }
  .netTitle{
    font-size: large;
  }
  .copyright{
    font-size: medium;
    margin: 0 0 0 10px;
    padding-bottom: 5px;
  }
}
