/* Cart.module.css */

.cartContainer {
    color: white; /* Hace que todo el texto dentro del contenedor sea blanco */
    background-color: #2c2c2c; /* Fondo oscuro para contraste */
    padding: 20px;
  }
  
  .cartTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cartList {
    list-style: none;
    padding: 0;
  }
  
  .cartListItem {
    margin-bottom: 10px;
  }
  
  .cartInput {
    margin-left: 10px;
    padding: 5px;
    background-color: #444;
    border: none;
    color: white;
    border-radius: 5px;
  }
  
  .cartButton {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff6347; /* Color del botón */
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cartButton:hover {
    background-color: #ff4500; /* Efecto hover para el botón */
  }
  