.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    height: 85px;
    width: 100%;
    background-color: white ;
    margin: 0;
    padding: 0;
}
.logo{
    height: 80px;
}
.flex1{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.flex2{
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}